name: Terraform Integration Tests

on:
  pull_request:
    paths:
      - "modules/postgresql/**"
      - "test/**"
    branches:
      - main
    types:
      - opened
      - synchronize
      - ready_for_review
  workflow_dispatch:

jobs:
  terratest_bucket:
    permissions:
      contents: "read"
      id-token: "write"

    name: Integration test Cloud SQL module
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v5
        with:
          go-version-file: "test/integration/go.mod"
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5
          terraform_wrapper: false
      - name: Authenticate with GCP
        uses: entur/gha-meta/.github/actions/cloud-auth@v1
        with:
          environment: dev
          gcp_workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
          gcp_service_account: ${{ vars.SERVICE_ACCOUNT }}
      - name: Authenticate with GKE
        uses: entur/gha-meta/.github/actions/k8s-auth@v1
        with:
          environment: dev
      - name: Run recursive Go integration tests
        working-directory: test/integration
        run: go test -tags=integration ./... -timeout 30m
