name: Call Validate PR

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited

jobs:
  validate-pr:
    name: Ensure PR title complies with conventional commit conventions
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.2.0

      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
